*{margin: auto; padding: 0}

.inView{
  animation: in;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

@keyframes in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.outView{
  animation: out;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes out {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


.BriefAboutMe {
    display: flex;
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: rgb(255, 255, 255) solid 2px;
  }

.HomepageHeader {
    margin: auto;
    color: rgb(255, 255, 255);
    display: block;
    position: relative;
    align-items: left;
    font-size: 8vmin;
    backdrop-filter: blur(2px);
  }

.MyPhoto {
    position: relative;
    height: 100vh;
    width: 60vw;
    object-fit: cover;
}
  
.Intro {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
  padding: 3%;
  height: 100vh;
  font-size: 3.5vmin;
  margin: auto;
}