*{margin: auto; padding: 0}

.inView{
  animation: in;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

@keyframes in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.outView{
  animation: out;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes out {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


.BriefAboutMe {
    display: flex;
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

.HomepageHeader {
    margin: auto;
    color: rgb(255, 255, 255);
    display: block;
    position: relative;
    align-items: left;
    font-size: 8vmin;
    backdrop-filter: blur(2px);
  }

.MyPhoto {
    position: relative;
    height: 100vh;
    width: 60vw;
    object-fit: cover;
}
  
.Intro {
  position: relative;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 3%;
  font-size: 2vw;
  margin: auto;
}

@media (max-aspect-ratio: 1/1) {
  .BriefAboutMe{
    width: 100vw;
    overflow: hidden;
  }
  .MyPhoto{
    position: absolute;
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  .Intro{
    position: absolute;
    z-index: 2;
    top: 50vh;
    font-size: 2vh;
  }
}