*{margin: auto; padding: 0}
.Banner{
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  border: rgb(255, 255, 255) solid 1px;
}

.projectHeader{
  color: white;
  font-size: 4vw;
  margin-bottom: 4vh;
}
.projButton{
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-family: 'Unbounded', cursive;
  background-color: transparent;
  color: white;
  padding: 2%;
  border: rgb(255, 255, 255) solid 2px;
  font-size: 2vmin;
}

.projButton:hover{
  background-color: white;
  color: black;
  padding: 2%;
}

.image{
  height: 50vw;
  width: 50vw;
}

.descriptionContainer{
  position: relative;
  width: 50vw;
}

.description{
  position: relative;
  width: 40vw;
  height: auto;
  margin: auto;
  margin-bottom: 5vh;
  color: rgb(255, 255, 255);
  font-size: 2.5vmin;
  background-color: transparent;
}

.projectlink{
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  font-family: 'Unbounded', cursive;
  background-color: transparent;
  color: white;
  padding: 2%;
  border: rgb(255, 255, 255) solid 2px;
  font-size: 2vmin
}

.projectlink:hover{
  background-color: white;
  color: black;
  padding: 2%;
}


.imageIn{
  animation: iIn;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  transform: translate(0,0);
}

@keyframes iIn {
  from{
    transform: translate(-50vw, 0);
  }
  to{
    transform: translate(0, 0);
  }
}

.imageOut{
  animation: iOut;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  transform: translate(-50vw, 0);
}

@keyframes iOut {
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(-50vw, 0);
  }
}

.descIn{
  animation: dIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  opacity: 1;
}

@keyframes dIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.descOut{
  animation: dOut;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes dOut {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

  