*{margin: auto; padding: 0}
.Banner{
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 90vw;
  height: 45vh;
  margin: 0vh 5vw 0vh 5vw;
  overflow: hidden;

}

.image{
  height: 30vmin;
  width: 30vmin;
  margin:auto;
  border: 0.75vmin outset rgb(232, 230, 230);
}

.descriptionContainer{
  margin: auto;
  position: relative;
  height: 30vmin;
  width: 50vmax;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.4vmax 0.6vmin rgb(117, 117, 117);
  border: 0.5vmin outset rgb(232, 230, 230);
}

.description{
  position: relative;
  height: 20vh;
  margin: 3vmin 1vmax 0 1vmax;
  color: black;
  font-size: 2.5vmin;
  background-color: transparent;
}

.projectlink{
  font-size: 2vmin;
}


.imageIn{
  animation: iIn;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  transform: translate(0,0);
}

@keyframes iIn {
  from{
    transform: translate(-50vw, 0);
  }
  to{
    transform: translate(0, 0);
  }
}

.imageOut{
  animation: iOut;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  transform: translate(-50vw, 0);
}

@keyframes iOut {
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(-50vw, 0);
  }
}

.descIn{
  animation: dIn;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transform: translate(0,0);
}

@keyframes dIn {
  from{
    transform: translate(100vw, 0);
  }
  to{
    transform: translate(0, 0);
  }
}

.descOut{
  animation: dOut;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transform: translate(100vw, 0);
}

@keyframes dOut {
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(100vw, 0);
  }
}

  