.Cards {
    display: flex;
    width: 60vw;
    height: 30vh;
    margin-top: 5vh;
    margin-bottom: 50vh;
  }
  
  .CardsHeader{
    display: block;
    margin-bottom: 10vh;
    font-size: 8vmin;
  }
  
  .Card{
    display: inline-block;
    margin: auto;
    width: 20vw;
    height: 20vw;
    font-size: 2vmin;
    border-radius: 5vmin;
    border: black 1vmin solid;
    overflow: hidden;
    transition-property: width, height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  
  
  .Card:hover {
    width: 31vw;
    height: 35vw;
  }
  
  .CardsDescription{
    width: 100%;
    max-width: 30vw;
    height: 100%;
    color: white;
    background-color: transparent;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
  }
  
  .CardsLinks{
    width: 100%;
    height: 100%;
  }
  .CardsTitle {
    color: white;
    margin: auto;
    font-size: 4vmin;
  }
  .CardImage {
    margin: auto;
    margin-bottom: none;
    margin-top: none;
    opacity: 1;
    padding: none;
    width: 20vw;
    height: 20vw;
  }
  
  .RightArrow, .LeftArrow{
    height: 4vmin;
    width: 4vmin;
    margin: auto;
    font-size: 3vmin;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 2vmin;
    border: none;
    background-color: transparent;
    transition: all 0.5;
    transition-timing-function: ease-in-out;
    transition-property: all;
  }
  
  .RightArrow:hover, .LeftArrow:hover{
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .RightArrow::after{
    content: ">";
  }
  
  .LeftArrow::after{
    content: "<";
  }
  